[submodule "ChaochihUtils"]
	path = Chaochih_Utils
	url = https://github.com/liux1299/Utilities.git
[submodule "LiUtils"]
	path = Li_Utils
	url = https://github.com/lilei1/Utilites.git
[submodule "TomUtils"]
	path = Tom_Utils
	url = https://github.com/TomJKono/Misc_Utils.git
[submodule "Paul_Utils"]
	path = Paul_Utils
	url = https://github.com/mojaveazure/Utilities.git
